<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- カメラ機能が必要なことを明示的に示す -->
    <!-- 'required="false"' とすることで、カメラが搭載されていないデバイスにもインストール可能にします -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- カメラ機能に必要なパーミッション -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Android 10 以降のストレージに関する設定 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CM"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- 必要なパーミッション -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

</manifest>
